:root {
  --blue: #3498db;
  --charcoal: #2c3e50;
  --cloud: #ecf0f1;
  --green: #27ae60;
  --purple: #8e44ad;
  --white: #ffffff;
}

* {
  border: none;
  box-sizing: border-box;
  color: var(--charcoal);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 120%;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: url('https://miro.medium.com/v2/1*YHdgzn_GispRtrQhX5kFaw.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  min-height: 100vh;
}

.dapp {
  background-color: var(--white);
  border-radius: 4px;
  margin: 20px;
  padding: 28px;
}

h1 {
  background-color: var(--purple);
  color: var(--white);
  font-size: 28px;
  margin-bottom: 8px;
  padding: 4px;
  text-align: center;
}

h2 {
  color: var(--purple);
  font-size: 18px;
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
}

.subtitle {
  margin-bottom: 20px;
  text-align: center;
}

.small-print {
  font-size: 11px;
  padding: 8px 0 0;
  text-align: center;
}

form {
  background-color: var(--cloud);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

input {
  display: block;
  margin-bottom: 8px;
  padding: 4px;
  width: 100%;
}

input:focus,
button:focus-visible {
  outline: 2px solid var(--purple);
}

button {
  background-color: var(--blue);
  border: none;
  color: var(--white);
  outline: none;
  padding: 4px 8px;
}

.info {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 12px;
  text-align: center;
}

.icon svg {
  fill: var(--green);
  height: 50px;
  margin-bottom: 8px;
  width: 50px;
}